#nprogress .bar {
       height: 3px !important;
       background: #003cff !important;
}

#nprogress .spinner-icon {
       border-top-color: transparent !important;
       border-left-color: transparent !important;
}

body {
       background-color: rgb(29, 29, 29);
}

h1 {
       color: rgb(255, 255, 255);
}
.navbar-toggler {
       color: rgb(255, 255, 255) !important;
       border: none !important;
}
.logo {
       width: 40px;
       height: 40px;
       border-radius: 10px;
}

.logo2 {
       width: 40px;
       height: 40px;
       border-radius: 10px;
}

.text-logo {
       margin: 3px;
}

.text-logo2 {
       margin: 3px;
}
footer {
       background-color: rgb(59, 59, 59);
       color: white;
}

.socials {
       width: 30px;
       height: 30px;
       margin: 10px;
       border-radius: 10px;
}

.btn-avan {
       background-color: rgb(29, 29, 29);
       border-radius: 3px;
}

.navbar {
       background-color: rgb(39, 39, 39) !important;
       box-shadow: 1px 1px 2px rgb(49, 49, 49);
}

.item {
       color: rgb(197, 197, 197) !important;
}

.item:hover {
       color: rgb(255, 255, 255) !important;
}

.item-active {
       color: rgb(255, 255, 255) !important;
}

.btn-add {
       background-color: rgb(255, 167, 36);
       color: rgb(26, 26, 26);
}

.imagen-product {
       width: 250px;
       height: 250px;
}
